* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  max-width: 750px;
  height: 8200px;
  background-repeat: no-repeat;
  background: linear-gradient(180deg, #eee1e1 0%, #cc99fe 100%), #ffffff;
}

.header__logo {
  height: 455px;
  width: 446px;
  margin: 0 auto;
}

.header__logo img {
  mix-blend-mode: darken;
  border-radius: 223px;
  height: 455px;
  width: 446px;
}

.header__HB {
  height: 220px;
  width: 100%;
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 50px;
  text-align: center;
}

.header__text {
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(180deg, #d59aec 0%, #5b9ce5 100%);
}

.dino {
  width: 750px;
  height: 203px;

  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 50px;
  text-align: center;

  mix-blend-mode: normal;
}

.dino__text {
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(180deg,
      #5b9ce5 0%,
      rgba(255, 255, 255, 0) 100%),
    linear-gradient(0deg, #435d75, #435d75);
}

.dino img {
  margin: 40px auto;
}

.metro {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 50px;
  text-align: center;
  margin-top: 800px;  
}

.metro__text {
  color: transparent; 
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(180deg, #D73F3F 0%, rgba(255, 255, 255, 0) 100%),
  linear-gradient(0deg, #B03C3C, #B03C3C);
}

.metro img {
  margin-top: 40px;
}

.smiley {
  font-family: Source Sans Pro;
font-style: normal;
font-weight: bold;
font-size: 40px;
line-height: 50px;
text-align: center;

color: #814083;
margin-top: 150px;
}

.smiley img {
  margin-top: 40px;
}

.my-words {
  font-family: Source Sans Pro;
font-style: normal;
font-weight: bold;
font-size: 40px;
line-height: 50px;
text-align: center;
width: 650px;
margin: 0 auto;
margin-top: 150px;
}

.my-words span {
  color: black;
}

.footer img {
  margin-left: 55px;
  margin-top: 1000px;
}

.footer__text {
  font-family: Source Sans Pro;
font-style: normal;
font-weight: bold;
font-size: 40px;
line-height: 50px;
text-align: center;
margin-left: 160px;
}

.gif {
  margin-left: 130px;
  margin-top: 300px;
}

.gif span {
  font-family: Source Sans Pro;
font-style: normal;
font-weight: bold;
font-size: 40px;
line-height: 50px;

margin-top: 40px;
}

.span {
  margin-left: 40px;
}
.last-words {
  margin-top: 100px;
  font-family: Source Sans Pro;
font-style: normal;
font-weight: bold;
font-size: 40px;
line-height: 50px;
text-align: center;
}